<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.mapper.BlogMapper">

    <sql id="select">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="bId != null and bId > 0">
                AND b_id = #{bId}
            </if>
            <if test="bTitle != null and bTitle != ''">
                AND b_title LIKE CONCAT('%',#{bTitle},'%')
            </if>
            <if test="bContent != null and bContent != ''">
                AND b_content LIKE CONCAT('%',#{bContent},'%')
            </if>
            <if test="bCreateDate != null and bCreateDate != ''">
                AND b_create_date >= #{bCreateDate}
            </if>
            <if test="bViewCount != null and bViewCount > 0">
                AND b_view_count >= #{bViewCount}
            </if>
            <if test="bIsDel != null and bIsDel > 0">
                AND b_is_del = #{bIsDel}
            </if>
        </trim>
    </sql>


    <select id="getBlogCount" parameterType="BlogBean" resultType="_integer">
        SELECT COUNT(1) FROM `blog`
        <include refid="select"/>
    </select>

    <select id="getBlogByPage" resultMap="blogBean">
        SELECT * FROM `blog`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="blogBean.bId != null and blogBean.bId > 0">
                AND b_id = #{blogBean.bId}
            </if>
            <if test="blogBean.bTitle != null and blogBean.bTitle != ''">
                AND b_title LIKE CONCAT('%',#{blogBean.bTitle},'%')
            </if>
            <if test="blogBean.bContent != null and blogBean.bContent != ''">
                AND b_content LIKE CONCAT('%',#{blogBean.bContent},'%')
            </if>
            <if test="blogBean.bCreateDate != null and blogBean.bCreateDate != ''">
                AND b_create_date >= #{blogBean.bCreateDate}
            </if>
            <if test="blogBean.bViewCount != null and blogBean.bViewCount > 0">
                AND b_view_count >= #{blogBean.bViewCount}
            </if>
            <if test="blogBean.bIsDel != null and blogBean.bIsDel > 0">
                AND b_is_del = #{blogBean.bIsDel}
            </if>
        </trim>
        <if test="orderBy != null and orderBy != ''">
          ORDER BY #{orderBy}
            <if test="isDesc">
              DESC
            </if>
        </if>
        <if test="offset != null and offset > 0 and size != null and size > 0">
          LIMIT #{offset},#{size}
        </if>
    </select>

    <resultMap id="blogBean" type="BlogBean">
        <id column="b_id" property="bId"></id>
        <result column="b_title" property="bTitle"></result>
        <result column="b_content" property="bContent"></result>
        <result column="b_create_date" property="bCreateDate"></result>
        <result column="b_view_count" property="bViewCount"></result>
        <result column="b_is_del" property="bIsDel"></result>
    </resultMap>

</mapper>